.location>h5{
    color: rgb(0, 0, 0);
    font-weight: 800;
    margin-bottom: 6px;
    font-size: 18px;
    
    
}
.location>p{
    
    margin:0px;
    font-size: 13px;
    font-weight: 400;
    
}
.vertical line{
    width: 1px;
    display: flex;
    background-color: rgb(144, 22, 22);
    height: 100%;
}
.search-div{

    padding: 12px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 8px;
    background-color:white;
    border-radius: 8px;
   
}
.search-div>input{

    width:40vw;
    height:40px;
   border:none;
   background-color:transparent;
}
.login{
    background-color: orangered;
    color:white;
    padding:10px;
    border-radius: 5px;
    border:none;
}
.my-cart{
    background-color: green;
    color:white;
    padding:10px;
    border-radius: 5px;
    border:none;
    margin-right:15px;
}
.categories{

width:86%;
}
.card{
    display: inline-block;
}

#container{
    
    white-space: nowrap;
    overflow-x: scroll;
    margin-left:130px;
}
.section>img{
    padding-inline: 10px;
    height:195px;
    width: 335.4px;
}
::-webkit-scrollbar{
    display:none;
}

.hard{
    width:85%;
}
.my-list{
    white-space: nowrap;
}

.my-list>img{
    padding-inline: 10px;
}
.my-card{
    width: 179px;
    margin-inline:10px ;
}

.my-card-time{
    width: fit-content;
    border-radius: 4px;
    background-color: rgb(248, 248, 248);
    padding: 0px 4px;
    font-weight: 700;
    font-size: 9px;
    color: rgb(54, 54, 54);
}

.my-card-title{
    color: rgb(31, 31, 31);
    font-weight: 600;
    font-size: 13px;
}

.my-card-weight{
    color: #666666;
    font-size: 13px;
}

.card-price{
    color: rgb(31, 31, 31);
    font-weight: 600;
    font-size: 12px;
    line-height: 11px;
}
.category-section{
    width: 85%;
    margin: auto;
}
.category-section-row{
    width: 100%;
    overflow-x: scroll;
}


#love{
  color: red !important;
}